{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block main_section %}
<div class="form-container">
  <h2 class="form-title">Register</h2>

  {% for message in get_flashed_messages() %}
      <div class="warning"> {{ message }} </div>
  {% endfor %}

  <form method="POST" action="/register">
      {{user.csrf_token}}
      <div class="form-field">
          {{user.name.label}}
          {{user.name(size=20)}}
          {% if user.name.errors %}
              <ul class="error-msgs">
                  {% for err in user.name.errors %}
                      <li>{{ err }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>
      <div class="form-field">
          {{user.username.label}}
          {{user.username }}
          {% if user.username.errors %}
              <ul class="error-msgs">
                  {% for err in user.username.errors %}
                      <li>{{ err }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>
      <div class="form-field">
          {{user.password.label}}
          {{user.password }}
          {% if user.password.errors %}
              <ul class="error-msgs">
                  {% for err in user.password.errors %}
                      <li>{{ err }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>
      <div class="form-field">
          {{user.email.label}}
          {{user.email}}
          {% if user.email.errors %}
              <ul class="error-msgs">
                  {% for err in user.email.errors %}
                      <li>{{ err }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>
      {{user.submit}}


      <div class="form-field">
          <span>I have an account. Login <a href="{{ url_for('login') }}">here</a>.</span>
      </div>
  </form>
</div>
{% endblock %}
